/* Reset CSS */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
  }

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ul[class],
ol[class],
dl,
dd,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Lists */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
button{
  background-color: inherit;
}